@{
    ViewBag.Title = "Unauthorised Page Access";
}

<div class="center-block" style="width:50%">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h2 class="panel-title">Unauthorised Page Access</h2>
        </div>
        <div class="panel-body">
            <p>
                Sorry @ViewBag.UserName, you don't have permission to access the requested page.
            </p>
            <p>
                If you think you should have access, log an access request form through the online portal at <a href="https://helpdesk.mach.co.uk/" style="color:cornflowerblue">http://help.mach.net</a>
            </p>

        </div>
    </div>
</div>