//--------------------------------------------
// Colours
//--------------------------------------------

$white: #ffffff;
$grey: #666666;
$dark-grey: #555;
$light-grey: #d3d3d3;
$v-light-grey: #f2f2f2;
$black: #000;
$Lime-Green: #d0d42c;
$table-blue-d: #2F4858;
$table-mid-blue: #006879;
$table-blue: #008984;

//----------Primary colours-------------------
$green: #54B948;
$green-d: #439539;
$dark-blue: #1C2674;
$dark-blue-d: #12194b;
$mid-blue: #186eaf;
$blue: #13B5EA;
$blue-d: #0f91bb;
$orange: #F08B00;
$mid-orange: #d77c00;
$orange-d: #bd6d00;

//----------Secondary colours-------------------
$yellow: #FFC425;
$violet: #4250c0;
$dark-green: #286c1f;
$purple: #5f13bd;
$pink: #ed2b5f;
$pink-dark: #A00d35;
$light-purple: #9a11b2;
$aqua: #07d3cf;
$red: #ff0000;
$light-turquoise: #e3f2f2;




