@{
    ViewBag.Title = "System Issue";
}

<div class="center-block" style="width:50%">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h2 class="panel-title">System Issue</h2>
        </div>
        <div class="panel-body">
            <p>
                An error has occurred. If this problem continues please contact IT helpdesk by email <a href="mailto:it@Mach.co.uk">it@Mach.co.uk</a>.
            </p>
        </div>
    </div>
</div>