@{
    ViewBag.Title = "Home";
}

<div class="clear"></div>

<div class="homeIcons">
    <a href="~/EntitySearch/Search"><div class="DDTileLBlue"><div class="DDTileTxt0"><i class="homeIconFA fas fa-database fa-5x"></i><span class="DDTileTxt1">Entities</span></div></div></a>
</div>

<div class="clear"></div>

@section scripts
{
    <script src="~/Scripts/Home/Home.js?id=@ViewBag.JavaScriptVersion"></script>
}