.PagedList-ellipses {
    display: none !important;
}

/*Spinner style for loading screens*/
#spinner {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-image: url("Images/loading.png");
    background-size: 100px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    text-align: center;
    padding: 10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2;
    overflow: auto;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.multi-line {
    height: 100px !important;
    resize: none; /*Turn off chrome multi-line resize control*/
}
